<!-- <form class="text-center" action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="question" placeholder="what time is it?">
  <input class="btn btn-primary" type="submit" value="Go on!">
</form> -->

<div class="formulaire">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <form class="form-horizontal text-center" action="/answer">
          <div class="form-group">
            <label for="question">Speak to your coach</label>
            <input type="text" class="form-control" id="question" name="question" placeholder="What time is it ?">
          </div>
          <input type="submit" class="btn btn-primary" value="Go on">
        </form>
      </div>
    </div>
  </div>
</div>

