// Place all the styles related to the coaching controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.formulaire{
  margin-top: 150px;
}


.sms-moi{
  background-color: #F4EBE8;
  border-radius: 5px;
  border-left: solid 5px;
  border-color: #3993DD;
  height: 100px;
  margin-bottom: 20px;
}


.sms-coach{
  background-color: #F4EBE8;
  border-radius: 5px;
  border-left: solid 5px;
  border-color: #29E7CD;
  height: 100px;
  margin-bottom: 20px;
}
